{%extends "base.html"%}

{%block title%}

HOTEL

{%endblock%}




{%block content%} 



<h1 class="text-center my-5">Welcome to our hotel</h1>


<section class="container">

    <div class="row mt-5">

        <div class="col-lg-6 my-4">

            <img src="{{url_for('static',filename='image1.jpg')}}" id="image1" alt="">

        </div>

        <div class="col-lg-6 my-4">
            <div class="rightText">
            <h2 class="text-center my-5">
                This the front view from our hotel
            </h2>
            <h2 class="text-center my-5">
                We have the most amazing rooms in the town
            </h2>
            <h2 class="text-center my-5">
                Nearest 5-star hotel to a airport
            </h2>

        </div>


        </div>













    </div>










</section>

{%endblock%}